{{#vars}}
{{#isEnumRef}}
var {{nameInCamelCaseLowerFirst}} = {{{datatypeWithEnum}}}.{{> api_doc_example_enum_param}};{{#description}} // {{{.}}}{{/description}}
{{/isEnumRef}}
{{^isEnumRef}}
{{#isPrimitiveType}}
{{#example}}
{{#isEnum}}
var {{nameInCamelCaseLowerFirst}} = {{{../../dataType}}}.{{{enumName}}}.{{{example}}};{{#description}} // {{{.}}}{{/description}}
{{/isEnum}}
{{^isEnum}}
var {{nameInCamelCaseLowerFirst}} = {{{example}}};{{#description}} // {{{.}}}{{/description}}
{{/isEnum}}
{{/example}}
{{^example}}
{{#isNumber}}
var {{nameInCamelCaseLowerFirst}} = default({{{dataType}}});{{#description}} // {{{.}}}{{/description}}
{{/isNumber}}
{{#isString}}
{{^isEnum}}
var {{nameInCamelCaseLowerFirst}} = "{{{nameInCamelCaseLowerFirst}}}_example";{{#description}} // {{{.}}}{{/description}}
{{/isEnum}}
{{#isEnum}}
var {{nameInCamelCaseLowerFirst}} = {{{../dataType}}}.{{{enumName}}}.{{> api_doc_example_enum_param}};{{#description}} // {{{.}}}{{/description}}
{{/isEnum}}
{{/isString}}
{{#isBoolean}}
var {{nameInCamelCaseLowerFirst}} = false;{{#description}} // {{{.}}}{{/description}}
{{/isBoolean}}
{{#isAnyType}}
var {{nameInCamelCaseLowerFirst}} = "{{{nameInCamelCaseLowerFirst}}}_example";{{#description}} // {{{.}}}{{/description}}
{{/isAnyType}}
{{/example}}
{{/isPrimitiveType}}
{{^isPrimitiveType}}
var {{nameInCamelCaseLowerFirst}} = new {{{dataType}}}();{{#description}} // {{{.}}}{{/description}}
{{/isPrimitiveType}}
{{/isEnumRef}}
{{/vars}}