using System;
using System.Collections.Generic;
using System.Diagnostics;
{{#useHttpClient}}
using System.Net.Http;
{{/useHttpClient}}
using {{packageName}}.Client;
using {{packageName}}.{{modelPackage}};

namespace Example
{
    public class {{operationId}}Example
    {
        public static void Main()
        {
            {{clientName}} client = new {{clientName}}();
            {{> api_doc_auth_partial}}
            {{> api_doc_example_execute}}
        }
    }
}