{{>partial_header}}

{{#parent}}{{{.}}}, {{/parent}}

namespace {{packageName}}.Client
{
    {{>visibility}} partial class ApiClient
    {
        partial void InterceptRequest(RestRequest request)
        {
        }
    }
}
