{{#vendorExtensions.x-konfig-top-level-operation}}{{.}}{{/vendorExtensions.x-konfig-top-level-operation}}{{^vendorExtensions.x-konfig-top-level-operation}}{{> apiClassName}}.{{operationId}}{{/vendorExtensions.x-konfig-top-level-operation}}