package {{package}};

import {{invokerPackage}}.ApiClient;

public class {{classname}} extends {{classname}}Generated {

    public {{classname}}(ApiClient apiClient) throws IllegalArgumentException {
        super(apiClient);
    }
}
