{{^isNullable}}{{#isNumber}}{{#isRequired}}{{{dataTypeLowerCase}}}{{/isRequired}}{{^isRequired}}{{dataType}}{{/isRequired}}{{/isNumber}}{{^isNumber}}{{{dataType}}}{{/isNumber}}{{/isNullable}}{{#isNullable}}{{{dataType}}}{{/isNullable}}