    {{#maximum}}if ({{name}} != null && {{name}} {{#exclusiveMaximum}}>={{/exclusiveMaximum}}{{^exclusiveMaximum}}>{{/exclusiveMaximum}} {{.}}) {
      throw new IllegalArgumentException("Invalid value for {{name}}. Must be less than {{^exclusiveMaximum}}or equal to {{/exclusiveMaximum}}{{.}}.");
    }{{/maximum}}