    {{#minLength}}if ({{paramName}} != null && {{paramName}}.length() {{#exclusiveMinimum}}<={{/exclusiveMinimum}}{{^exclusiveMinimum}}<{{/exclusiveMinimum}} {{.}}) {
      throw new IllegalArgumentException("Invalid value for {{paramName}}. Length must be greater than {{^exclusiveMinimum}}or equal to {{/exclusiveMinimum}}{{.}}.");
    }{{/minLength}}
