    {{#minLength}}if ({{name}} != null && {{name}}.length() {{#exclusiveMinimum}}<={{/exclusiveMinimum}}{{^exclusiveMinimum}}<{{/exclusiveMinimum}} {{.}}) {
      throw new IllegalArgumentException("Invalid value for {{name}}. Length must be greater than {{^exclusiveMinimum}}or equal to {{/exclusiveMinimum}}{{.}}.");
    }{{/minLength}}