    {{#minimum}}if ({{name}} != null && {{name}} {{#exclusiveMinimum}}<={{/exclusiveMinimum}}{{^exclusiveMinimum}}<{{/exclusiveMinimum}} {{.}}) {
      throw new IllegalArgumentException("Invalid value for {{name}}. Must be greater than {{^exclusiveMinimum}}or equal to {{/exclusiveMinimum}}{{.}}.");
    }{{/minimum}}