[![Maven Central](https://img.shields.io/badge/Maven%20Central-v{{artifactVersionWithoutDashes}}-blue)](https://central.sonatype.com/artifact/{{groupId}}/{{artifactId}}/{{artifactVersion}})
{{#infoUrl}}
[![More Info](https://img.shields.io/badge/More%20Info-Click%20Here-orange)]({{{infoUrl}}})
{{/infoUrl}}