[submodule "customers/snaptrade/snaptrade-typescript-sdk"]
	path = customers/snaptrade/snaptrade-typescript-sdk
	url = https://github.com/konfig-dev/snaptrade-typescript-sdk.git
[submodule "customers/snaptrade/snaptrade-sdks"]
	path = customers/snaptrade/snaptrade-sdks
	url = https://github.com/konfig-dev/snaptrade-sdks.git
