[submodule "generator/konfig-dash"]
	path = generator/konfig-dash
	url = https://github.com/konfig-dev/konfig-dash.git
[submodule "generator/konfig-generator-api"]
	path = generator/konfig-generator-api
	url = https://github.com/konfig-dev/konfig-generator-api.git
[submodule "misc/openapi-generator-configs"]
	path = misc/openapi-generator-configs
	url = https://github.com/konfig-dev/openapi-generator-configs.git
[submodule "generator/konfig-docs"]
	path = generator/konfig-docs
	url = https://github.com/konfig-dev/konfig-docs.git
[submodule "generator/openapi-generator"]
	path = generator/openapi-generator
	url = https://github.com/konfig-dev/openapi-generator.git
[submodule "misc/getting-started-example"]
	path = misc/getting-started-example
	url = https://github.com/konfig-dev/getting-started-example.git
[submodule "generator/konfig-generator-demo"]
	path = generator/konfig-generator-demo
	url = https://github.com/konfig-dev/konfig-generator-demo.git
[submodule "gigs-sdks-2"]
	path = customers/gigs/gigs-sdks
	url = https://github.com/konfig-dev/gigs-sdks
[submodule "customers/acme/acme-sdks"]
	path = customers/acme/acme-sdks
	url = https://github.com/konfig-dev/acme-sdks.git
[submodule "customers/splitit-sdks"]
	path = customers/splitit/splitit-web-sdks
	url = https://github.com/konfig-dev/splitit-sdks.git
[submodule "konfig-lint-action"]
	path = generator/konfig-lint-action
	url = https://github.com/konfig-dev/konfig-lint-action.git
[submodule "snaptrade-sdks"]
	path = customers/snaptrade/snaptrade-sdks
	url = https://github.com/passiv/snaptrade-sdks.git
[submodule "customers/acme/acme-app"]
	path = customers/acme/acme-app
	url = https://github.com/konfig-dev/acme-app.git
[submodule "customers/splitit/splitit-onboarding-sdks"]
	path = customers/splitit/splitit-onboarding-sdks
	url = https://github.com/konfig-dev/splitit-onboarding-sdks.git
[submodule "customers/dojah/dojah-sdks"]
	path = customers/dojah/dojah-sdks
	url = https://github.com/konfig-dev/dojah-sdks.git
[submodule "customers/decentro/decentro-in-kyc-sdk"]
	path = customers/decentro/decentro-in-kyc-sdk
	url = https://github.com/decentro-in/decentro-in-kyc-sdk.git
[submodule "customers/newscatcher/newscatcher-sdks"]
	path = customers/newscatcher/newscatcher-sdks
	url = https://github.com/konfig-dev/newscatcher-sdks.git
[submodule "customers/nuitee/nlite-public-sdks"]
	path = customers/nuitee/nlite-public-sdks
	url = https://github.com/ykari/nlite-public-sdks.git
[submodule "customers/nuitee/nuitee-lite-sdks"]
	path = customers/nuitee/nuitee-lite-sdks
	url = https://github.com/konfig-dev/nuitee-lite-sdks.git
[submodule "customers/humanloop/humanloop-sdks"]
	path = customers/humanloop/humanloop-sdks
	url = https://github.com/konfig-dev/humanloop-sdks.git
