[submodule "customers/snaptrade/snaptrade-typescript-sdk"]
	path = customers/snaptrade/snaptrade-typescript-sdk
	url = https://github.com/konfig-dev/snaptrade-typescript-sdk.git
[submodule "customers/snaptrade/snaptrade-sdks"]
	path = customers/snaptrade/snaptrade-sdks
	url = https://github.com/konfig-dev/snaptrade-sdks.git
[submodule "generator/konfig-dash"]
	path = generator/konfig-dash
	url = https://github.com/konfig-dev/konfig-dash.git
[submodule "generator/konfig-cli"]
	path = generator/konfig-cli
	url = https://github.com/konfig-dev/konfig-cli.git
[submodule "generator/konfig-generator-api"]
	path = generator/konfig-generator-api
	url = https://github.com/konfig-dev/konfig-generator-api.git
[submodule "misc/openapi-generator-configs"]
	path = misc/openapi-generator-configs
	url = https://github.com/konfig-dev/openapi-generator-configs.git
[submodule "generator/konfig-docs"]
	path = generator/konfig-docs
	url = https://github.com/konfig-dev/konfig-docs.git
[submodule "customers/snaptrade/snaptrade-typescript-test"]
	path = customers/snaptrade/snaptrade-typescript-test
	url = https://github.com/konfig-dev/snaptrade-typescript-test.git
[submodule "customers/snaptrade/snaptrade-java-sdk"]
	path = customers/snaptrade/snaptrade-java-sdk
	url = https://github.com/konfig-dev/snaptrade-java-sdk.git
[submodule "customers/snaptrade/snaptrade-python-test"]
	path = customers/snaptrade/snaptrade-python-test
	url = https://github.com/konfig-dev/snaptrade-python-test.git
[submodule "customers/snaptrade/snaptrade-python-sdk"]
	path = customers/snaptrade/snaptrade-python-sdk
	url = https://github.com/konfig-dev/snaptrade-python-sdk.git
[submodule "customers/snaptrade/snaptrade-java-test"]
	path = customers/snaptrade/snaptrade-java-test
	url = https://github.com/konfig-dev/snaptrade-java-test.git
[submodule "customers/snaptrade/snaptrade-ruby-sdk"]
	path = customers/snaptrade/snaptrade-ruby-sdk
	url = https://github.com/konfig-dev/snaptrade-ruby-sdk.git
[submodule "customers/gigs/gigs-sdks"]
	path = customers/gigs/gigs-sdks
	url = https://github.com/konfig-dev/gigs-sdks.git
[submodule "customers/gigs/gigs-java-sdk"]
	path = customers/gigs/gigs-java-sdk
	url = https://github.com/konfig-dev/gigs-java-sdk
[submodule "customers/gigs/gigs-python-sdk"]
	path = customers/gigs/gigs-python-sdk
	url = https://github.com/konfig-dev/gigs-python-sdk
[submodule "gigs-typescript-sdk"]
	path = gigs-typescript-sdk
	url = https://github.com/konfig-dev/gigs-typescript-sdk
[submodule "customers/gigs/gigs-typescript-sdk"]
	path = customers/gigs/gigs-typescript-sdk
	url = https://github.com/konfig-dev/gigs-typescript-sdk
