sdks/db/fixed-specs-cache/oracle-human-capital-management-fixed-spec.yaml filter=lfs diff=lfs merge=lfs -text
sdks/db/intermediate-fixed-specs/oracle/human-capital-management/openapi.yaml filter=lfs diff=lfs merge=lfs -text
sdks/db/fixed-specs/oracle-human-capital-management-fixed-spec.yaml filter=lfs diff=lfs merge=lfs -text
sdks/db/custom-request-specs/oracle.com_HumanCapitalManagement.yaml filter=lfs diff=lfs merge=lfs -text
