.gradientText {
  background: linear-gradient(
    to right,
    var(--ifm-color-info-light),
    var(--ifm-color-info-darkest)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
