    {{#summary}}
    # {{{.}}}
    {{/summary}}
    {{#notes}}
    # {{{.}}}
    {{/notes}}
    {{#allParamsWithRequestBodyProperties}}
    {{#required}}
    # @param {{paramName}} [{{{dataType}}}] {{description}}
    {{/required}}
    {{^required}}
    # @param {{paramName}} [{{{dataType}}}] {{description}}
    {{/required}}
    {{/allParamsWithRequestBodyProperties}}
    # @param [Hash] extra additional parameters to pass along through :header_params, :query_params, or parameter name