{{#allParamsWithRequestBodyProperties}}{{paramName}}:{{^required}} {{#defaultValue}}{{defaultValue}}{{/defaultValue}}{{^defaultValue}}SENTINEL{{/defaultValue}}{{/required}}, {{/allParamsWithRequestBodyProperties}}extra: {}
