{{#allParamsWithRequestBodyProperties}}{{paramName}}:{{^required}} {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}SENTINEL{{/defaultValue}}{{/required}}, {{/allParamsWithRequestBodyProperties}}{{#bodyParam}}{{^isStrictlyObject}}body:{{^required}}: SENTINEL{{/required}}, {{/isStrictlyObject}}{{/bodyParam}}extra: {}