{{#allParamsWithRequestBodyProperties}}
  {{paramName}}: {{{example}}},
{{/allParamsWithRequestBodyProperties}}
{{#bodyParam}}
{{^isStrictlyObject}}
  body: {{{example}}},
{{/isStrictlyObject}}
{{/bodyParam}}