require '{{{gemName}}}'
{{#apiDocumentationAuthenticationPartial}}

{{{apiDocumentationAuthenticationPartial}}}
{{/apiDocumentationAuthenticationPartial}}
{{^apiDocumentationAuthenticationPartial}}
configuration = {{moduleName}}::Configuration.new
{{#authMethods}}
{{#isBasic}}
{{#isBasicBasic}}
configuration.username = 'YOUR_USERNAME'
configuration.password = 'YOUR_PASSWORD'
{{/isBasicBasic}}
{{#isBasicBearer}}
configuration.access_token = 'YOUR_BEARER_TOKEN'
{{/isBasicBearer}}
{{/isBasic}}
{{#isApiKey}}
configuration.{{> securityKeyName}} = 'YOUR API KEY'
{{/isApiKey}}
{{#isOAuth}}
configuration.access_token = 'YOUR ACCESS TOKEN'
{{/isOAuth}}
{{/authMethods}}
{{clientNameLowercase}} = {{gemName}}::Client.new(configuration)
{{/apiDocumentationAuthenticationPartial}}
{{> api_doc_example_execute_call}}