{{#summary}}
# {{{.}}}
#
{{/summary}}
{{#unescapedNotesWithPounds}}
{{{unescapedNotesWithPounds}}}
#
{{/unescapedNotesWithPounds}}
{{#allParamsWithRequestBodyProperties}}
{{#required}}
# @param {{paramName}} [{{{dataType}}}] {{{descriptionForSingleLine}}}
{{/required}}
{{^required}}
# @param {{paramName}} [{{{dataType}}}] {{{descriptionForSingleLine}}}
{{/required}}
{{/allParamsWithRequestBodyProperties}}
{{#bodyParam}}
# @param body [{{{dataType}}}] {{{descriptionForSingleLine}}}
{{/bodyParam}}
# @param [Hash] extra additional parameters to pass along through :header_params, :query_params, or parameter name