{{#returnType}}result = {{/returnType}}{{> api_doc_example_method}}_with_http_info{{#hasParams}}(
{{> api_doc_example_execute_call_args}}){{/hasParams}}
{{#useNewWithHttpInfoReturnType}}
{{#returnType}}
p result.data # [{{{returnType}}}] Deserialized data
{{/returnType}}
p.result.status_code # [Integer] HTTP status code
p.result.headers # [Hash] HTTP headers
p.result.response # [Faraday::Response] Raw HTTP response
{{/useNewWithHttpInfoReturnType}}
{{^useNewWithHttpInfoReturnType}}
{{#returnType}}
p result[0] # [{{{returnType}}}] Deserialized data
{{/returnType}}
p.result[1] # [Integer] HTTP status code
p.result[2] # [Hash] HTTP headers
p.result[3] # [Faraday::Response] Raw HTTP response
{{/useNewWithHttpInfoReturnType}}