{{#hasParams}}(
    {{#allParamsWithRequestBodyProperties}}
    {{paramName}}: {{paramName}},
    {{/allParamsWithRequestBodyProperties}}
    {{#bodyParam}}
    {{^isStrictlyObject}}
    body: body,
    {{/isStrictlyObject}}
    {{/bodyParam}}
  ){{/hasParams}}