{{#readmeHeader}}
<div align={{#leftAlignDescription}}"left"{{/leftAlignDescription}}{{^leftAlignDescription}}"center"{{/leftAlignDescription}}>

[![Visit {{{title}}}](./header.png)]({{{url}}})

# [{{{title}}}]({{{url}}})
{{^omitInfoDescription}}

{{{unescapedAppDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# {{gemName}}

{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}

{{#infoUrl}}
For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}})
{{/infoUrl}}
{{/readmeHeader}}

## Table of Contents

<!-- toc -->

## Installation

Add to Gemfile:

```ruby
gem '{{{gemName}}}', '~> {{{gemVersion}}}'
```

## Getting Started

```ruby
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{#apiInfo}}{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}{{> api_doc_example}}{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}{{/apiInfo}}
{{/readmeSnippet}}
```

## Raw HTTP Response

To access the raw HTTP response, suffix any method with `_with_http_info`.

{{#apiInfo}}
{{#apis}}
{{#-first}}
{{#operations}}
{{#operation}}
{{#-first}}
```ruby
{{> api_doc_example_execute_call_with_http_info}}```
{{/-first}}
{{/operation}}
{{/operations}}
{{/-first}}
{{/apis}}
{{/apiInfo}}

{{^omitApiDocumentation}}
## Reference

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
### `{{> api_doc_example_method}}`
{{#isDeprecated}}
![Deprecated](https://img.shields.io/badge/deprecated-yellow)
{{/isDeprecated}}

{{#notes}}
{{{unescapedNotes}}}

{{/notes}}
{{^notes}}
{{summary}}

{{/notes}}
#### 🛠️ Usage

```ruby
{{> api_doc_example_execute_call}}
```

{{#hasParams}}
{{#allParamsWithRequestBodyProperties}}
{{#-first}}
#### ⚙️ Parameters

{{/-first}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### {{> README_parameter_name}}: {{> api_doc_param_data_type}}
{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^isFromBodyParam}}
##### {{> README_parameter_name}}: {{> api_doc_param_data_type}}
{{> README_parameter_description}}
{{/isFromBodyParam}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/allParamsWithRequestBodyProperties}}
{{#bodyParam}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### body: {{> api_doc_param_data_type}}
{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#isArray}}
#### ⚙️ body

{{> api_doc_param_data_type}}
{{> README_parameter_description}}
{{/isArray}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/bodyParam}}
{{/hasParams}}
{{#returnModel}}
#### 🔄 Return

[{{{classname}}}](./lib/{{gemName}}/models/{{classFilename}}.rb)

{{/returnModel}}
#### 🌐 Endpoint

`{{path}}` `{{httpMethod}}`

[🔙 **Back to Table of Contents**](#table-of-contents)

---

{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/omitApiDocumentation}}
{{^removeKonfigBranding}}
## Author
This TypeScript package is automatically generated by [Konfig](https://konfigthis.com)
{{/removeKonfigBranding}}
