# {{classname}}{{#description}}

{{description}}{{/description}}

All URIs are relative to *{{basePath}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}[**{{operationId}}**]({{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}
# **{{{operationId}}}**

#### **{{httpMethod}}** {{path}}

{{#unescapedNotes}}
### Description
{{{unescapedNotes}}}
{{/unescapedNotes}}

### Example


```typescript
{{> api_doc_example}}
```


### Parameters
{{^hasParams}}

This endpoint does not need any parameter.
{{/hasParams}}
{{#allParams}}
{{#-last}}

Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
{{/-last}}
{{/allParams}}
{{#allParams}}
{{^defaultValue}}
**{{> requestPropertyName}}** | {{^isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}{{#isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}| {{description}} |
{{/defaultValue}}
{{/allParams}}
{{#allParams}}
{{#defaultValue}}
**{{> requestPropertyName}}** | {{^isPrimitiveType}}{{^isEnum}}**{{{dataType}}}**{{/isEnum}}{{/isPrimitiveType}}{{#isPrimitiveType}}{{^isEnum}}**{{{dataType}}}**{{/isEnum}}{{/isPrimitiveType}}{{#isEnum}}{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}{{/isEnum}} | {{{description}}} | {{^required}}(optional){{/required}}{{#required}}(required){{/required}}
{{/defaultValue}}
{{/allParams}}

### Return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{{returnType}}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}**{{{returnType}}}**{{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}void (empty response body){{/returnType}}

{{#responses.0}}

### HTTP response details
| Status code | Description |
|-------------|-------------|
{{#responses}}
**{{code}}** | {{message}} |
{{/responses}}
{{/responses.0}}

[[Back to top]](#) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

{{/operation}}
{{/operations}}

