{{#isFreeFormObject}}
`{{{dataType}}}`
{{/isFreeFormObject}}
{{#isMap}}
{{^isFreeFormObject}}
{{^isModel}}
{{#items}}
Record<string, {{> api_doc_param_data_type}}>
{{/items}}
{{/isModel}}
{{/isFreeFormObject}}
{{/isMap}}
{{#isPrimitiveType}}
`{{{dataType}}}`
{{/isPrimitiveType}}
{{#isModel}}
[`{{{dataType}}}`](./models/{{{modelFilename}}}.ts)
{{/isModel}}
{{#isArray}}
{{#items}}
{{> api_doc_param_data_type}}[]
{{/items}}
{{/isArray}}