{{#isFreeFormObject}}
`{{{dataType}}}`
{{/isFreeFormObject}}
{{#isPrimitiveType}}
`{{{dataType}}}`
{{/isPrimitiveType}}
{{#isModel}}
[`{{{dataType}}}`](./models/{{{modelFilename}}}.ts)
{{/isModel}}
{{#isArray}}
{{#items}}
{{> api_doc_param_data_type}}[]
{{/items}}
{{/isArray}}