{{#clientState}}
    {{{.}}}: '{{{.}}}',
{{/clientState}}
{{#clientStateWithExamples}}
    {{{name}}}: '{{{example}}}',
{{/clientStateWithExamples}}
{{#authMethods}}
{{#isBasicBearer}}
    accessToken: 'ACCESS_TOKEN',
{{/isBasicBearer}}
{{#isApiKey}}
    {{#hasMultipleApiKeys}}{{> securityKeyName}}{{/hasMultipleApiKeys}}{{^hasMultipleApiKeys}}apiKey{{/hasMultipleApiKeys}}: 'API_KEY',
{{/isApiKey}}
{{#isImplicit}}
    accessToken: 'ACCESS_TOKEN',
{{/isImplicit}}
{{#isApplication}}
    oauthClientId: 'CLIENT_ID',
    oauthClientSecret: 'CLIENT_SECRET',
{{/isApplication}}
{{/authMethods}}