{{#allParams.0}}requestParameters: {{classname}}{{operationIdCamelCase}}Request{{^onlyHasPrimitiveBodyParameter}}{{#defaultCanBeEmptyObject}}{{^isArray}} = {}{{/isArray}}{{/defaultCanBeEmptyObject}}{{/onlyHasPrimitiveBodyParameter}}, {{/allParams.0}}