/**
 * parameter for apiKey security
 * @param name security name
 * @memberof Configuration
 */
apiKey{{#apiKeyMethods}}{{#-first}}{{^vendorExtensions.x-konfig-globally-required-security}}?{{/vendorExtensions.x-konfig-globally-required-security}}: ApiKey;{{/-first}}{{/apiKeyMethods}}