import { {{{clientName}}} } from "./index";

describe("{{{npmName}}}", () => {
    it("initialize client", async () => {
        const {{{clientNameLowercase}}} = new {{{clientName}}}({
        {{#hasApiKeyMethods}}
        {{^hasMultipleApiKeys}}
            apiKey: "API_KEY",
        {{/hasMultipleApiKeys}}
        {{/hasApiKeyMethods}}
        });
    });
});
