[![npm](https://img.shields.io/badge/npm-v{{npmVersionWithoutDashes}}-blue)](https://www.npmjs.com/package/{{npmName}}/v/{{npmVersion}})
{{#isGitSubmodule}}
[![GitHub last commit](https://img.shields.io/github/last-commit/{{{gitUserId}}}/{{{gitRepoId}}}.svg)](https://github.com/{{{gitUserId}}}/{{{gitRepoId}}}/commits)
{{/isGitSubmodule}}
{{#infoUrl}}
[![More Info](https://img.shields.io/badge/More%20Info-Click%20Here-orange)]({{{infoUrl}}})
{{/infoUrl}}