[![npm](https://img.shields.io/badge/npm-v{{npmVersionWithoutDashes}}-blue)](https://www.npmjs.com/package/{{npmName}}/v/{{npmVersion}})
{{#infoUrl}}
[![More Info](https://img.shields.io/badge/More%20Info-Click%20Here-orange)]({{{infoUrl}}})
{{/infoUrl}}