{{#readmeHeader}}
<div align="center">

[![Visit {{{title}}}](./header.png)]({{{url}}})

# [{{{title}}}]({{{url}}})
{{^omitInfoDescription}}

{{{appDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# {{npmName}}

{{^omitInfoDescription}}{{{appDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}
{{/readmeHeader}}

## Table of Contents

<!-- toc -->

## Installing

### npm
```
npm install {{npmName}} --save
```

### yarn
```
yarn add {{npmName}}
```

{{#readmeDescriptionSnippet}}
{{{readmeDescriptionSnippet}}}

{{/readmeDescriptionSnippet}}
## Getting Started

```typescript
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{> api_doc_example_setup}}

{{#apiInfo}}
{{#hasTopLevelOperations}}
{{#topLevelOperations}}
{{> api_doc_example_execute}}
{{/topLevelOperations}}
{{/hasTopLevelOperations}}
{{^hasTopLevelOperations}}
{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}{{> api_doc_example_execute}}{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}
{{/hasTopLevelOperations}}
{{/apiInfo}}
{{/readmeSnippet}}
```

{{^omitApiDocumentation}}
## Reference

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
### `{{{clientNameLowercase}}}.{{> api_doc_example_method}}`

{{#notes}}
{{{notes}}}

{{/notes}}
{{^notes}}
{{summary}}

{{/notes}}
#### 🛠️ Usage

```typescript
{{> api_doc_example_execute_call}}
```

{{#hasParams}}
#### ⚙️ Parameters

{{#allParamsWithRequestBodyProperties}}
##### {{{paramName}}}: {{> api_doc_param_data_type}}

{{#description}}
{{{description}}}

{{/description}}
{{/allParamsWithRequestBodyProperties}}
{{/hasParams}}
{{#returnModel}}
#### 🔄 Return
[{{{name}}}](./models/{{{classFilename}}}.ts)

{{/returnModel}}
#### 🌐 Endpoint

`{{path}}` `{{httpMethod}}`

[🔙 Back to Table of Contents](#table-of-contents)

---

{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/omitApiDocumentation}}
{{^removeKonfigBranding}}
## Author
This TypeScript package is automatically generated by [Konfig](https://konfigthis.com)
{{/removeKonfigBranding}}