{{#readmeHeader}}
<div align={{#leftAlignDescription}}"left"{{/leftAlignDescription}}{{^leftAlignDescription}}"center"{{/leftAlignDescription}}>

[![Visit {{{title}}}](./header.png)]({{{url}}})

# [{{{title}}}]({{{url}}})
{{^omitInfoDescription}}

{{{unescapedAppDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# {{npmName}}

{{^omitInfoDescription}}{{{unescapedAppDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}
{{/readmeHeader}}

## Table of Contents

<!-- toc -->

## Installation

<table>
<tr>
<th width="292px"><code>npm</code></th>
<th width="293px"><code>pnpm</code></th>
<th width="292px"><code>yarn</code></th>
</tr>
<tr>
<td>

```bash
npm i {{npmName}}
```

</td>
<td>

```bash
pnpm i {{npmName}}
```

</td>
<td>

```bash
yarn add {{npmName}}
```

</td>
</tr>
</table>

{{#readmeDescriptionSnippet}}
{{{readmeDescriptionSnippet}}}

{{/readmeDescriptionSnippet}}
## Getting Started

```typescript
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{> api_doc_example_setup}}

{{#apiInfo}}
{{#hasTopLevelOperations}}
{{#topLevelOperations}}
{{> api_doc_example_execute}}
{{/topLevelOperations}}
{{/hasTopLevelOperations}}
{{^hasTopLevelOperations}}
{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}{{> api_doc_example_execute}}{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}
{{/hasTopLevelOperations}}
{{/apiInfo}}
{{/readmeSnippet}}
```

{{^omitApiDocumentation}}
## Reference

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
### `{{{clientNameLowercase}}}.{{> api_doc_example_method}}`

{{#notes}}
{{{notes}}}

{{/notes}}
{{^notes}}
{{summary}}

{{/notes}}
#### 🛠️ Usage

```typescript
{{> api_doc_example_execute_call}}
```

{{#hasParams}}
{{#allParamsWithRequestBodyProperties}}
{{#-first}}
#### ⚙️ Parameters

{{/-first}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### {{> README_parameter_name}}: {{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^isFromBodyParam}}
##### {{> README_parameter_name}}: {{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/isFromBodyParam}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/allParamsWithRequestBodyProperties}}
{{#bodyParam}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### requestBody: {{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#isArray}}
#### ⚙️ Request Body

{{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/isArray}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/bodyParam}}
{{/hasParams}}
{{#returnModel}}
#### 🔄 Return

[{{{classname}}}](./models/{{{classFilename}}}.ts)

{{/returnModel}}
#### 🌐 Endpoint

`{{path}}` `{{httpMethod}}`

[🔙 **Back to Table of Contents**](#table-of-contents)

---

{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/omitApiDocumentation}}
{{^removeKonfigBranding}}
## Author
This TypeScript package is automatically generated by [Konfig](https://konfigthis.com)
{{/removeKonfigBranding}}