{{#useSecurityKeyParamNameAsPropertyName}}{{{keyParamName}}}{{/useSecurityKeyParamNameAsPropertyName}}{{^useSecurityKeyParamNameAsPropertyName}}{{{keyParamNamePascalCase}}}{{/useSecurityKeyParamNameAsPropertyName}}