{{> api_doc_example_setup_inner_body_vars}}
{{paramName}} := *{{goImportAlias}}.New{{dataType}}{{^hasRequired}}(){{/hasRequired}}{{#hasRequired}}(
{{#requiredVars}}
    {{> api_doc_example_param_example}},
{{/requiredVars}}
){{/hasRequired}}
{{#vars}}
{{^required}}
{{paramName}}.Set{{name}}({{> api_doc_example_param_example}})
{{/required}}
{{/vars}}