{{#allParams}}
{{#isBodyParam}}
{{paramName}} := *{{goImportAlias}}.New{{dataType}}(
    {{#requiredVars}}
    {{> api_doc_example_param_example}},
    {{/requiredVars}}
)
{{#optionalVars}}
{{paramName}}.Set{{name}}({{> api_doc_example_param_example}})
{{/optionalVars}}
{{/isBodyParam}}
request.{{paramNameCamelCaseUpper}}({{> api_doc_example_param_example}})
{{/allParams}}