{{#readmeHeader}}
<div align={{#leftAlignDescription}}"left"{{/leftAlignDescription}}{{^leftAlignDescription}}"center"{{/leftAlignDescription}}>

[![Visit {{{title}}}](./header.png)]({{{url}}})

# [{{{title}}}]({{{url}}})
{{^omitInfoDescription}}

{{{unescapedAppDescription}}}
{{/omitInfoDescription}}

{{> README_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# {{packageName}} - {{infoName}}'s Go SDK

{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}

{{#infoUrl}}
For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}})
{{/infoUrl}}
{{/readmeHeader}}

## Installation

Add to your project:

```shell
go get {{> git_url}}
```

## Getting Started

```golang
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{#apiInfo}}
{{#apis}}
{{#-first}}
{{#operations}}
{{#operation}}
{{#-first}}
{{> api_doc_example}}
{{/-first}}
{{/operation}}
{{/operations}}
{{/-first}}
{{/apis}}
{{/apiInfo}}
{{/readmeSnippet}}
```

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}