[![Go Reference](https://pkg.go.dev/badge/{{> git_url}})](https://pkg.go.dev/{{> git_url}}@v{{{packageVersion}}})
{{#infoUrl}}
[![More Info](https://img.shields.io/badge/More%20Info-Click%20Here-orange)]({{{infoUrl}}})
{{/infoUrl}}