{{>partial_header}}
package {{packageName}}


import (
	"context"
	"net/http"
	"net/url"
)

func prepareRequestBefore(
	ctx context.Context,
	path string, method string,
	postBody interface{},
	headerParams map[string]string,
	queryParams url.Values,
	formParams url.Values,
	formFiles []formFile) {
}

func prepareRequestAfter(
	httpRequest *http.Request,
	ctx context.Context) {
}