{% extends "base.html" %}
{% block style %}
<style>
  .input-fields {
    display: flex;
    flex-direction: row;
  }

  /* Style for the loading spinner */
  .my-indicator {
    display: none;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
  }
  .htmx-request .my-indicator {
    display: inline-block;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .user-message {
    color: #b83eff;
    padding: 5px;
  }
  .bot-message {
    padding: 5px;
    color: darkblue;
  }
  input[type="text"] {
    width: 50%;
  }
</style>
{% endblock %} {% block content %} {% include 'chat_container.html' %} {% endblock %}
