{% extends "app.html" %}
{% block style %}
    <style>
    body {
        min-height: 100vh;
        background-color: rgb(248, 250, 252);
    }
    </style>
{% endblock style %}
{% block app %}
    <div class="py-10 flex flex-col items-start w-fit mx-auto">
        <div class="flex items-start justify-between mb-12 w-full">
            <h1 class="font-bold text-slate-600 text-2xl">Guides</h1>
            <a href="{% url 'chat_view' %}" class="btn btn-primary">Create Guide</a>
        </div>
        <div class="overflow-x-auto p-4 bg-white rounded-box shadow-md">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Job</th>
                        <th>company</th>
                        <th>location</th>
                        <th>Last Login</th>
                        <th>Favorite Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cy Ganderton</td>
                        <td>Quality Control Specialist</td>
                        <td>Littel, Schaden and Vandervort</td>
                        <td>Canada</td>
                        <td>12/16/2020</td>
                        <td>Blue</td>
                    </tr>
                    <tr>
                        <td>Hart Hagerty</td>
                        <td>Desktop Support Technician</td>
                        <td>Zemlak, Daniel and Leannon</td>
                        <td>United States</td>
                        <td>12/5/2020</td>
                        <td>Purple</td>
                    </tr>
                    <tr>
                        <td>Brice Swyre</td>
                        <td>Tax Accountant</td>
                        <td>Carroll Group</td>
                        <td>China</td>
                        <td>8/15/2020</td>
                        <td>Red</td>
                    </tr>
                    <tr>
                        <td>Marjy Ferencz</td>
                        <td>Office Assistant I</td>
                        <td>Rowe-Schoen</td>
                        <td>Russia</td>
                        <td>3/25/2021</td>
                        <td>Crimson</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock app %}
