outputDirectory: /tmp/{{repoName}}-out
specPath: {{oasFileName}}
readmeHeader:
  image: header.png
  title: {{companyName}}
  url: https://{{homepage}}
generators:
  {{lang}}:
    version: 1.0.0{{#typescript}}
    npmName: {{repoName}}{{/typescript}}{{#python}}
    packageName: {{packageName}}
    projectName: {{repoName}}{{/python}}{{#java}}
    groupId: com.konfigthis
    artifactId: {{repoName}}{{/java}}
    outputDirectory: {{lang}}
    clientName: {{clientName}}
    git:
      userId: konfig-sdks
      repoId: {{repoName}}/tree/main/{{lang}}