outputDirectory: /tmp/{{name}}-out
specPath: openapi.yaml
generators:
  {{lang}}:
    version: 1.0.0
    outputDirectory: {{lang}}
    clientName: {{clientName}}
    git:
      userId: konfig-sdks
      repoId: {{name}}/tree/main/{{lang}}