{{#isFromBodyParam}}{{bodyParam.dataType}}.{{enumName}}{{/isFromBodyParam}}{{^isFromBodyParam}}{{#isContainer}}[{{enumName}}_{{operationId}}]{{/isContainer}}{{^isContainer}}{{enumName}}_{{operationId}}{{/isContainer}}{{/isFromBodyParam}}