Pod::Spec.new do |s|
  s.name = '{{projectName}}'{{#projectDescription}}
  s.summary = '{{.}}'{{/projectDescription}}
  s.swift_version = '5.0'
  {{#useAlamofire}}
  s.ios.deployment_target = '10.0'
  s.osx.deployment_target = '10.12'
  s.tvos.deployment_target = '10.0'
  {{/useAlamofire}}
  {{^useAlamofire}}
  s.ios.deployment_target = '13.0'
  s.osx.deployment_target = '13.0'
  s.tvos.deployment_target = '9.0'
  {{/useAlamofire}}
  s.watchos.deployment_target = '4.0'
  s.version = '{{podVersion}}{{^podVersion}}{{#apiInfo}}{{version}}{{/apiInfo}}{{^apiInfo}}}0.0.1{{/apiInfo}}{{/podVersion}}'
  s.source = {{#podSource}}{{& podSource}}{{/podSource}}{{^podSource}}{ :git => 'https://{{{gitHost}}}/{{gitUserId}}/{{{gitRepoName}}}.git', :tag => 'v{{#apiInfo}}{{podVersion}}{{/apiInfo}}{{^apiInfo}}}0.0.1{{/apiInfo}}' }{{/podSource}}
  {{#podAuthors}}
  s.authors = '{{.}}'
  {{/podAuthors}}
  {{#podSocialMediaURL}}
  s.social_media_url = '{{.}}'
  {{/podSocialMediaURL}}
  s.license = { :type => 'MIT', :file => 'LICENSE' }
  s.homepage = '{{podHomepage}}{{^podHomepage}}https://{{{gitHost}}}/{{gitUserId}}/{{gitRepoId}}{{/podHomepage}}'
  s.summary = '{{podSummary}}{{^podSummary}}{{projectName}} Swift SDK{{/podSummary}}'
  {{#podDescription}}
  s.description = '{{.}}'
  {{/podDescription}}
  {{#podScreenshots}}
  s.screenshots = {{& podScreenshots}}
  {{/podScreenshots}}
  {{#podDocumentationURL}}
  s.documentation_url = '{{.}}'
  {{/podDocumentationURL}}
  s.source_files = '{{swiftPackagePath}}{{^swiftPackagePath}}{{#useSPMFileStructure}}Sources/{{projectName}}{{/useSPMFileStructure}}{{^useSPMFileStructure}}{{projectName}}/Classes{{/useSPMFileStructure}}{{/swiftPackagePath}}/**/*.swift'
  s.dependency 'AnyCodable-Konfig', '~> 0.6.9'
  {{#useAlamofire}}
  s.dependency 'Alamofire', '~> 5.4.3'
  {{/useAlamofire}}
  {{#usePromiseKit}}
  s.dependency 'PromiseKit/CorePromise', '~> 6.15.3'
  {{/usePromiseKit}}
  {{#useRxSwift}}
  s.dependency 'RxSwift', '~> 6.2.0'
  {{/useRxSwift}}
end
