{{#readmeHeader}}
<div align={{#leftAlignDescription}}"left"{{/leftAlignDescription}}{{^leftAlignDescription}}"center"{{/leftAlignDescription}}>

[![Visit {{{title}}}](./header.png)]({{{url}}})

# [{{{title}}}]({{{url}}})
{{^omitInfoDescription}}

{{{unescapedAppDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# Swift API Client for {{{projectName}}}

{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}
{{/readmeHeader}}

## Table of Contents

<!-- toc -->

## Installation

{{#useVapor}}
Add the following entry in your Package.swift:

> .package(path: "./{{{projectName}}}")

{{/useVapor}}
{{^useVapor}}
### CocoaPods

1. Add `source 'https://github.com/CocoaPods/Specs.git'` to your `Podfile`
2. Add `pod '{{{projectName}}}', '~> {{{podVersion}}}'` to your `Podfile`

Your `Podfile` should look like:
```ruby
# Podfile
source 'https://github.com/CocoaPods/Specs.git'

target 'Example' do
  pod '{{{projectName}}}', '~> {{{podVersion}}}'
end
```
3. Run `pod install`

```shell
❯ pod install
Analyzing dependencies
Downloading dependencies
Installing {{{projectName}}} {{{podVersion}}}
Generating Pods project
Integrating client project
Pod installation complete! There is 1 dependency from the Podfile and 2 total pods installed.
```

{{/useVapor}}
## Getting Started

```swift
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{#apiInfo}}{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}
{{> api_doc_snippet}}
{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}{{/apiInfo}}
{{/readmeSnippet}}
```

## Reference

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
### `{{{clientNameLowercase}}}.{{classNameCamelCase}}.{{operationId}}`

{{#notes}}
{{{unescapedNotes}}}

{{/notes}}
{{^notes}}
{{summary}}

{{/notes}}
#### 🛠️ Usage

```swift
{{> api_doc_snippet_call}}
```

{{#hasParams}}
{{#allParamsWithRequestBodyProperties}}
{{#-first}}
#### ⚙️ Parameters

{{/-first}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### {{> README_parameter_name}}: {{> README_parameter_data_type}}

{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^isFromBodyParam}}
##### {{> README_parameter_name}}: {{> README_parameter_data_type}}

{{> README_parameter_description}}
{{/isFromBodyParam}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/allParamsWithRequestBodyProperties}}
{{#bodyParam}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### requestBody: {{> README_parameter_data_type}}

{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#isArray}}
#### ⚙️ Request Body

{{> README_parameter_data_type}}

{{> README_parameter_description}}
{{/isArray}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/bodyParam}}
{{/hasParams}}
{{#returnModel}}
#### 🔄 Return

[{{{classname}}}](./{{projectName}}/Models/{{{classFilename}}}.swift)

{{/returnModel}}
#### 🌐 Endpoint

`{{path}}` `{{httpMethod}}`

[🔙 **Back to Table of Contents**](#table-of-contents)

---

{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

{{^removeKonfigBranding}}
## Author
This TypeScript package is automatically generated by [Konfig](https://konfigthis.com)
{{/removeKonfigBranding}}
