openapi: 3.0.0
info:
  title: Lite API
  description: lite api hotel booking api
  version: 1.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.nlite.ml/v1.0
tags:
  - name: Static data
  - name: Search
  - name: Book
  - name: Booking management
paths:
  /hotels:
    get:
      tags:
        - Search
      summary: Hotel minimum rate availability
      operationId: Search_getHotels
      description: >-
        This endpoint allows you to send a list of hotel ID's for a specific
        date range and in response receive the best rate available for each of
        the hotel ID's. The limit is set to 200 hotels
      parameters:
        - schema:
            description: start date example 2023-01-15
            type: string
            example: '2024-01-15'
            format: date
          in: query
          name: checkin
          required: true
        - schema:
            description: end date example 2023-01-15
            type: string
            format: date
            example: '2024-01-20'
          in: query
          name: checkout
          required: true
        - schema:
            description: 'country code iso-2 (example: US)'
            type: string
            example: US
          in: query
          name: country
          required: true
        - schema:
            description: latitude geo coordinates
            type: number
            example: 32.31823
          in: query
          name: latitude
        - schema:
            description: longitude geo coordinates
            type: number
            example: -86.902298
          in: query
          name: longitude
        - schema:
            description: the distance starting from the selected geopgraphic point
            type: integer
            example: 20
          in: query
          name: distance
        - schema:
            description: adults number
            type: integer
            example: 2
          in: query
          name: adults
          required: true
        - schema:
            description: children ages separated by a comma, example (7,14)
            type: string
            example: 7,14
          in: query
          name: children
        - schema:
            description: currency code exaple (USD)
            type: string
            example: USD
          in: query
          name: currency
          required: true
        - schema:
            description: guest nationality iso-2 code example (US)
            type: string
            example: CA
          in: query
          name: guestNationality
          required: true
        - schema:
            description: unique traveler id
            type: string
            example: TMX54RS4
          in: query
          name: travelerId
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHotelsResponse'
              examples:
                example-0:
                  value:
                    data:
                      - hotelId: '1000018'
                        currency: EUR
                        price: 91.49
                      - hotelId: '436827'
                        currency: EUR
                        price: 97.73
                      - hotelId: '57871'
                        currency: EUR
                        price: 51.49
                      - hotelId: '99249'
                        currency: EUR
                        price: 169.96
                      - hotelId: '26191'
                        currency: EUR
                        price: 210.26
                      - hotelId: '99121'
                        currency: EUR
                        price: 108
                      - hotelId: '268206'
                        currency: EUR
                        price: 128.2
                      - hotelId: '99119'
                        currency: EUR
                        price: 50.17
                      - hotelId: '497829'
                        currency: EUR
                        price: 88.22
                      - hotelId: '28906'
                        currency: EUR
                        price: 137.04
                      - hotelId: '248093'
                        currency: EUR
                        price: 115.26
                    session_id: >-
                      GIYDEMZNGAYS2MJVPQZDAMRTFUYDCLJRGZ6DC7D4JVAXY7CKGVBFC2CZGRXHS2Q
                    guestLevel: 0
                    sandbox: true
        '400':
          description: Bad Request
          headers:
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: true
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,
                  Authorization, accept, origin, Cache-Control,
                  X-Requested-With, Content-Disposition
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,
                  Authorization, accept, origin, Cache-Control,
                  X-Requested-With, Content-Disposition
            Access-Control-Max-Age:
              schema:
                type: integer
                example: 10
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: Mon, 19 Sep 2022 10:33:11 GMT
            Content-Length:
              schema:
                type: integer
                example: 57
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHotels400Response'
              example: &ref_0
                error:
                  code: 2001
                  message: no availability found
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHotels401Response'
              example:
                error:
                  code: 401
                  message: Unauthorized
        '500':
          description: Internal Server Error
  /hotels/rates:
    parameters: []
    get:
      tags:
        - Search
      summary: Hotel full rate availability
      operationId: Search_getHotelRates
      description: >-
        This endpoint allows you to send a hotel ID with a specific date range
        and in response receive all the rooms, rates that are available along
        with the cancelllation policies.
      parameters:
        - description: >-
            hotel ids separated by comma, max number of hotel ids is 10, example
            (2345,557,56)
          schema:
            type: string
            example: 2345,557,565,4239
          in: query
          name: hotelIds
          required: true
        - description: start date yyyy-mm-dd format
          name: checkin
          in: query
          schema:
            type: string
          example: '2023-01-15'
          required: true
        - description: end date yyyy-mm-dd format
          name: checkout
          in: query
          schema:
            type: string
          example: '2023-01-16'
          required: true
        - description: adults number
          name: adults
          in: query
          schema:
            type: integer
          example: 1
          required: true
        - description: children ages separated by a comma
          schema:
            type: string
            example: 5,9
          in: query
          name: children
        - description: guest nationality country code iso-2 example (US)
          name: guestNationality
          in: query
          schema:
            type: string
          example: US
          required: true
        - description: currency code example (USD)
          name: currency
          in: query
          schema:
            type: string
          example: USD
          required: true
        - description: session id if retrieved from hotels search
          name: sessionId
          in: query
          schema:
            type: string
          example: GIYDEMZNGAYS2MJVPQZDAMRTFUYDCLJRGZ6DC7D4JVAXY7DZM5MDMQKKJJAXKZY
        - description: traveler unique id
          schema:
            type: string
          in: query
          name: travelerId
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHotelRatesResponse'
              example:
                data:
                  hotelId: '28906'
                  termsAndConditions: >-
                    Guests are required to show a photo identification and
                    credit card upon check-in. Please note that all Special
                    Requests are subject to availability and additional charges
                    may apply. Swimming pool #1 is closed from Fri 22 Nov 2019
                    until Thu 30 Apr 2020 Swimming pool #2 is closed from Fri 22
                    Nov 2019 until Thu 30 Apr 2020 Swimming pool #1 is closed
                    from Mon 22 Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                    is closed from Mon 22 Nov 2021 until Sat 30 Apr 2022
                  roomTypes:
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access - single occupancy -
                            Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower - single occupancy -
                            Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Room with One King Bed  - single occupancy -
                            Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible  - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Room with Two Double Beds - single occupancy -
                            Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with One King Bed  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with Two Double Beds - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SSYI5MVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 172.55
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 204.33
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with One King Bed  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: 'Room with One King Bed '
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible 
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2I5CVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 187.25
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 221.75
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGQYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOUKZKNDU2SS2I5GVQRCTJ5FFCR2BLFCECSK2KNEECNCUIFHFEVKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FSVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Corner King Room - single occupancy - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 190.18
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 225.22
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGQYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOUKZKNDU2SS2I5GVQRCTJ5FFCR2BLFCECSK2KNEECNCUIFHFEVKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FURRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Corner King Room - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 190.18
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 225.22
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with One King Bed  - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: Room with Two Double Beds - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2JBAVQRCDJVFFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIU2OJJJEOVK2IRJU4USXJQ2FUVRWJVJTOR2BKJKEKT2CLJDUCM2DI5KEWQQ
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access - Non-refundable
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 194.22
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: ''
                                amount: 230.01
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: NRFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with One King Bed  - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIRKOKJLUOSJTKREU2USRI5NFAVCDLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds - single occupancy
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGAYQ
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQKZKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHIZIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: Room with Two Double Beds
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGA2A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOQJSINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEUKHKJIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: 'Room with One King Bed '
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI3Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJTKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2HGVIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible 
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGM2Q
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTJSKNDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHKZIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room Two Double Beds with Roll in Shower -
                            Disability Access
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2SS2JBCVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIRKOKJLUOSJTKREU2USRI5NFAVCFLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 195.09
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-14 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-15 00:00:00'
                                amount: 231.04
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGMYA
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOTKZINDU2USSI5KVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEVCHIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCHLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            King Room with Disability Access - Hearing
                            Accessible
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 210.78
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                              - cancelTime: '2023-01-10 23:59:59'
                                amount: 0
                                type: amount
                              - cancelTime: '2023-01-11 00:00:00'
                                amount: 249.61
                                type: amount
                            hotelRemarks:
                              - >-
                                Guests are required to show a photo
                                identification and credit card upon check-in.
                                Please note that all Special Requests are
                                subject to availability and additional charges
                                may apply. Swimming pool #1 is closed from Fri
                                22 Nov 2019 until Thu 30 Apr 2020 Swimming pool
                                #2 is closed from Fri 22 Nov 2019 until Thu 30
                                Apr 2020 Swimming pool #1 is closed from Mon 22
                                Nov 2021 until Sat 30 Apr 2022 Swimming pool #2
                                is closed from Mon 22 Nov 2021 until Sat 30 Apr
                                2022
                            refundableTag: RFN
                    - roomTypeId: GI4DSMBWGI4A
                      maxOccupancy: 1
                      rates:
                        - rateId: >-
                            1_GI4DSMBWPQZDAMRTFUYDCLJRGV6DEMBSGMWTAMJNGE3HYML4PRGUC7CHJE2EIU2NIJLUOSJUINDU2USSI5KVQRCBJVBFCR2BLFCECSK2KNEECNCUIFHFEU2IIJIFIQ2NJJKUOTJUIRFU4QSWJBDFAVCHLBNFGTBULFBUOTKSLFEEKWKEJVETETSJIU
                          name: >-
                            Double Room with Two Double Beds - Hearing
                            Accessible - Roll in Shower
                          maxOccupancy: 0
                          retailRate:
                            total:
                              - amount: 210.78
                                currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
[...]
