.glowing-text {
  cursor: pointer;
  transition: 0.5s;
  text-decoration: underline dotted;
}

html[data-theme="light"] .glowing-text:hover {
  color: #000;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

html[data-theme="dark"] .glowing-text:hover {
  color: #fff;
  text-shadow: 0 0 5px #e403f4, 0 0 25px #e403f4, 0 0 50px #e403f4,
    0 0 100px #e403f4;
}
