.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}

.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
}

.sidebarItemList {
  font-size: 0.9rem;
}

.sidebarItem {
}

.sidebarItemLink {
  color: var(--ifm-color-gray-600);
  display: block;
  padding: var(--ifm-menu-link-padding-vertical)
    var(--ifm-menu-link-padding-horizontal);
  border-radius: 0.5rem;
  font-weight: var(--ifm-font-weight-semibold);
}

.sidebarItemLink:hover {
  text-decoration: none;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary);
  background-color: var(--ifm-color-primary-contrast-background);
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
