{% extends "base.html" %}

{% block body %}
    <header class="navbar">
        <div class="navbar bg-base-100 border rounded-box shadow-xl bg-white">
            <div class="flex-1">
                <a href="/chat" class="btn btn-ghost text-xl">Konfig</a>
            </div>
            <div class="flex-none">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost">
                        {{ user.username }}
                    </div>
                    <form method="post" action="{% url 'logout' %}" class="inline">
                        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow rounded-box bg-base-100 w-52">
                            <li>
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
{% endblock %}