<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    {% block style %}{% endblock %}
  </head>
  <body>

    <header>
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}! <form  method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form></p>
      {% endif %}
    </header>

      <main>
          {% block content %}
          {% endblock %}
      </main>

      <footer>
          <!-- Add your footer content here -->
      </footer>
  </body>
  </body>
</html>
