{{#allParams}}
final {{{paramName}}} = {{#isArray}}[{{/isArray}}{{#isBodyParam}}{{{dataType}}}(
{{> api_doc_example_body_param}}
){{/isBodyParam}}{{^isBodyParam}}{{> api_doc_example_param}}{{/isBodyParam}}{{#isArray}}]{{/isArray}};
{{/allParams}}