{{#returnType}}final result = {{/returnType}}{{clientNameLowercase}}.{{classNameCamelCase}}.{{{operationId}}}({{#allParams}}{{^required}}{{{paramName}}}: {{/required}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}});