{{>header}}
{{>part_of}}
{{#operations}}
class {{{classname}}} extends {{{classname}}}Generated {
  ApiClient apiClient;

  {{{classname}}}([ApiClient? apiClient])
      : apiClient = apiClient ?? defaultApiClient;
}
{{/operations}}