{{>header}}
{{> package_import}}
import 'package:test/test.dart';

/// tests for {{{clientName}}}
void main() {
  group('simple initialization test for {{{clientName}}}', () {
    test('test {{{clientName}}}()', () {
      final instance = {{{clientName}}}(
          {{> api_doc_example_setup_params}}
      );
      expect(instance, isNotNull);
    });
  });
}
