openapi: 3.0.0
info:
  version: 1.0.0
  title: Telintel Mobile Number Portability
  description: >-
    The following document describes the procedure to use the Telintel
    Portability HTTPS service. Description and requirements. This service is
    intended for live traffic, it is scoped for SMS notification systems as well
    as extend func. It uses queries through the HTTP protocol. It is intended to
    cover the features expected in standard REST service. The Port Orders
    instance resource represents a single port request comprising the phone
    number that the customer wishes to port to.
  contact:
    name: Telintel
    url: https://telintel.com/
servers:
  - description: Telintel Portability Server
    url: http://hlr.telintel.net:3080/HlrWebService/Hlr2
paths:
  /HlrService:
    get:
      tags:
        - Request
      summary: HTTP Query Procedure
      description: >-
        The server and port numbers for the HLR/HTTP service along with your
        username and password will be provided to you by your sales manager.
      parameters:
        - in: query
          name: login
          required: true
          schema:
            type: string
            example: username
        - in: query
          name: pass
          required: true
          schema:
            type: string
            example: password
        - in: query
          name: number
          required: true
          schema:
            type: integer
            example: 573005555555
      responses:
        '200':
          description: Succesfull request
          content:
            application/json:
              schema:
                type: object
                properties:
                  succeded:
                    type: boolean
                    example: true
                  country:
                    type: string
                    example: Country Name
                  submittedNumber:
                    type: string
                    example: PhoneNumber
                  mcc:
                    type: string
                    example: '123'
                  mnc:
                    type: string
                    example:
                      - '321'
                  isPorted:
                    type: boolean
                    example: true
                  originalNetwork:
                    type: string
                    example: Original Network Name
                  portedNetwork:
                    type: string
                    example: Ported Network Name
                  transactionDetails:
                    type: string
                    example: ok
                  portedMnc:
                    type: string
                    example:
                      - '124'
                  spid:
                    type: string
                    example: 12345!
components:
  schemas:
    request:
      type: object
      properties:
        username:
          type: string
          description: As login, authentication parameter
        password:
          type: string
          description: User password
        phoneNumber:
          type: integer
          description: Phone number to look up
    response:
      type: object
      properties:
        succeded:
          type: boolean
          description: >-
            Returns true when the request has been processed. Otherwise false is
            returned. The transaction details will extend the status accordingly
        country:
          type: string
          description: Country information for the subscribed phone number
        submittedNumber:
          type: string
          description: (country_code+phone_number) in long format
        mcc:
          type: string
          description: Mobile Country Code
        mnc:
          type: string
          description: Mobile Network Code
        isPorted:
          type: boolean
          description: Mobile Country Code
        originalNetwork:
          type: string
          description: Original operator for the queried number
        portedNetwork:
          type: string
          description: Current operator for the queried number
        transactionDetails:
          type: string
          description: Returns Ok when the queried number is valid or an error statement
        portedMnc:
          type: string
          description: Ported Mobile Network Code
        spid:
          type: string
          description: Spid number
