{{#vendorExtensions.x-konfig-top-level-operation}}{{.}}{{/vendorExtensions.x-konfig-top-level-operation}}{{^vendorExtensions.x-konfig-top-level-operation}}{{> api_class_name}}.{{operationId}}{{/vendorExtensions.x-konfig-top-level-operation}}