{{#useSecurityKeyNameAsPropertyName}}{{{nameInPascalCase}}}{{/useSecurityKeyNameAsPropertyName}}{{^useSecurityKeyNameAsPropertyName}}{{^hasMultipleApiKeys}}apiKey{{/hasMultipleApiKeys}}{{#hasMultipleApiKeys}}{{{keyParamName}}}{{/hasMultipleApiKeys}}{{/useSecurityKeyNameAsPropertyName}}