<?php

namespace {{invokerPackage}};

{{#apiInfo}}
class Client
{
    {{#apis}}
    public readonly \{{apiPackage}}\{{classname}} ${{classNameCamelCase}};
    {{/apis}}

    /**
     * Constructor
     */
    public function __construct(
{{#hasOAuthMethods}}
        string $tokenUrl = null,
        string $clientId = null,
        string $clientSecret = null,
{{/hasOAuthMethods}}
        {{#clientState}}
        string ${{.}} = null,
        {{/clientState}}
        {{#apiKeyMethods}}
        string ${{{keyParamName}}} = null,
        {{/apiKeyMethods}}
        string $host = '{{basePath}}',
        \{{invokerPackage}}\Configuration $config = null
    )
    {
        if ($config == null) {
            $config = new \{{invokerPackage}}\Configuration(
                {{#clientState}}
                {{.}}: ${{.}},
                {{/clientState}}
                {{#apiKeyMethods}}
                {{keyParamName}}: ${{keyParamName}},
                {{/apiKeyMethods}}
            );
            $config->setHost($host);
{{#hasOAuthMethods}}
            $config->setTokenUrl($tokenUrl);
            $config->setClientId($clientId);
            $config->setClientSecret($clientSecret);
{{/hasOAuthMethods}}
        }
        {{#apis}}
        $this->{{classNameCamelCase}} = new \{{apiPackage}}\{{classname}}($config);
        {{/apis}}
    }
}
{{/apiInfo}}
