        {{#bodyParam}}
        $_body = {{#required}}[]{{/required}}{{^required}}null{{/required}};
        {{#flattenedParamsFromRequestBodyProperties}}
        $this->setRequestBodyProperty($_body, "{{paramName}}", ${{paramName}});
        {{/flattenedParamsFromRequestBodyProperties}}
        {{#isStrictlyObject}}
        ${{paramName}} = $_body;
        {{/isStrictlyObject}}
        {{^isStrictlyObject}}
        ${{paramName}} = {{#isRequired}}$body{{/isRequired}}{{^isRequired}}$body === SENTINEL_VALUE ? null : (empty($_body) ? $body : $_body){{/isRequired}};
        {{/isStrictlyObject}}
        {{/bodyParam}}
