        {{#allParamsWithRequestBodyProperties}}
        ${{paramName}}{{^required}} = {{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}SENTINEL_VALUE{{/defaultValue}}{{/required}},
        {{/allParamsWithRequestBodyProperties}}