        {{^vendorExtensions.x-group-parameters}}
        {{#bodyParam.required}}
{{> operation_interface_args_body_param}}
{{> operation_interface_args_flattened_args}}
        {{/bodyParam.required}}
        {{^bodyParam.required}}
{{> operation_interface_args_flattened_args}}
{{> operation_interface_args_body_param}}
        {{/bodyParam.required}}
        {{#servers}}
        {{#-first}}
        ?int $hostIndex = null,
        array $variables = [], 
        {{/-first}}
        {{/servers}}
        string $contentType = self::contentTypes['{{{operationId}}}'][0]
        {{/vendorExtensions.x-group-parameters}}
        {{#vendorExtensions.x-group-parameters}}
        $associative_array
        {{/vendorExtensions.x-group-parameters}}