        {{^vendorExtensions.x-group-parameters}}
        {{#bodyParam}}
        {{^isStrictlyObject}}
        {{#required}}
        $body,
        {{/required}}
        {{^required}}
        $body = SENTINEL_VALUE,
        {{/required}}
        {{/isStrictlyObject}}
        {{/bodyParam}}
        {{#allParamsWithRequestBodyProperties}}
        ${{paramName}}{{^required}} = {{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}SENTINEL_VALUE{{/defaultValue}}{{/required}},
        {{/allParamsWithRequestBodyProperties}}
        {{#servers}}
        {{#-first}}
        ?int $hostIndex = null,
        array $variables = [], 
        {{/-first}}
        {{/servers}}
        string $contentType = self::contentTypes['{{{operationId}}}'][0]
        {{/vendorExtensions.x-group-parameters}}
        {{#vendorExtensions.x-group-parameters}}
        $associative_array
        {{/vendorExtensions.x-group-parameters}}