        {{#bodyParam}}
        {{^isStrictlyObject}}
        {{#required}}
        $body,
        {{/required}}
        {{^required}}
        $body = SENTINEL_VALUE,
        {{/required}}
        {{/isStrictlyObject}}
        {{/bodyParam}}