${{invokerPackageLowerCase}} = new \{{invokerPackage}}\Client(
{{#apiDocumentationAuthenticationPartial}}
{{{apiDocumentationAuthenticationPartial}}}
{{/apiDocumentationAuthenticationPartial}}
{{^apiDocumentationAuthenticationPartial}}
{{#authMethods}}
{{#isApiKey}}
    {{keyParamName}}: YOUR_{{keyParamNameSnakeCaseUppercase}},
{{/isApiKey}}
{{/authMethods}}
{{/apiDocumentationAuthenticationPartial}}
);