${{invokerPackageLowerCase}} = new \{{invokerPackage}}\Client(
{{#apiDocumentationAuthenticationPartial}}
{{{apiDocumentationAuthenticationPartial}}}
{{/apiDocumentationAuthenticationPartial}}
{{^apiDocumentationAuthenticationPartial}}
{{#clientStateWithUpperSnakeCase}}
    {{clientState}}: "{{upperSnakeCase}}",
{{/clientStateWithUpperSnakeCase}}
{{#clientStateWithExamples}}
    {{name}}: "{{example}}",
{{/clientStateWithExamples}}
{{#authMethods}}
{{#isApiKey}}
    {{> api_key_name}}: "{{keyParamNameSnakeCaseUppercase}}",
{{/isApiKey}}
{{#isApplication}}
    clientId: "YOUR_CLIENT_ID",
    clientSecret: "YOUR_CLIENT_ID",
{{/isApplication}}
{{/authMethods}}
{{/apiDocumentationAuthenticationPartial}}
);