${{invokerPackageLowerCase}} = new \{{invokerPackage}}\Client(
{{#apiDocumentationAuthenticationPartial}}
{{{apiDocumentationAuthenticationPartial}}}
{{/apiDocumentationAuthenticationPartial}}
{{^apiDocumentationAuthenticationPartial}}
{{#authMethods}}
{{#isApiKey}}
    {{keyParamName}}: YOUR_{{keyParamNameSnakeCaseUppercase}},
{{/isApiKey}}
{{#isApplication}}
    clientId: "YOUR_CLIENT_ID",
    clientSecret: "YOUR_CLIENT_ID",
{{/isApplication}}
{{/authMethods}}
{{/apiDocumentationAuthenticationPartial}}
);