[![Packagist](https://img.shields.io/badge/Packagist-v{{artifactVersionWithoutDashes}}-blue)](https://packagist.org/packages/konfig/{{gitRepoName}})
{{#infoUrl}}
[![More Info](https://img.shields.io/badge/More%20Info-Click%20Here-orange)]({{{infoUrl}}})
{{/infoUrl}}