{{#readmeHeader}}
<div align={{#leftAlignDescription}}"left"{{/leftAlignDescription}}{{^leftAlignDescription}}"center"{{/leftAlignDescription}}>

[![Visit {{{title}}}](./header.png)]({{{url}}})

# [{{{title}}}]({{{url}}})
{{^omitInfoDescription}}

{{{unescapedAppDescription}}}
{{/omitInfoDescription}}

{{> readme_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# {{packageName}}

{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}

{{> readme_badges}}
{{/readmeHeader}}

## Table of Contents

<!-- toc -->

## Installation & Usage

### Requirements

This library requires {{#supportPhp7}}`PHP ^7.0`{{/supportPhp7}}{{^supportPhp7}}`PHP ^8.0`{{/supportPhp7}}

### Composer

To install the bindings via [Composer](https://getcomposer.org/), add the following to `composer.json`:

```json
{
  "repositories": [
    {
      "type": "vcs",
      "url": "https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
    }
  ],
  "require": {
    "{{packagistUsername}}/{{gitRepoId}}": "{{{artifactVersion}}}"
  }
}
```

Then run `composer install`

### Manual Installation

Download the files and include `autoload.php`:

```php
<?php
require_once('/path/to/{{packageName}}/vendor/autoload.php');
```

{{#readmeDescriptionSnippet}}
{{{readmeDescriptionSnippet}}}

{{/readmeDescriptionSnippet}}
## Getting Started

Please follow the [installation procedure](#installation--usage) and then run the following:

```php
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{#apiInfo}}{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}{{> api_doc_example}}{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}{{/apiInfo}}
{{/readmeSnippet}}
```
{{^omitApiDocumentation}}
## Reference

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
### `{{{invokerPackageLowerCase}}}.{{> api_doc_example_method}}`

{{#notes}}
{{{unescapedNotes}}}

{{/notes}}
{{^notes}}
{{summary}}

{{/notes}}

#### 🛠️ Usage

```php
{{> api_doc_example_execute}}
```

{{#hasParams}}
{{#allParamsWithRequestBodyProperties}}
{{#-first}}
#### ⚙️ Parameters

{{/-first}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### {{> README_parameter_name}}: {{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{^isFromBodyParam}}
##### {{> README_parameter_name}}: {{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/isFromBodyParam}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/allParamsWithRequestBodyProperties}}
{{#bodyParam}}
{{^operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
##### requestBody: {{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{#isArray}}
#### ⚙️ Request Body

{{> api_doc_param_data_type}}

{{> README_parameter_description}}
{{/isArray}}
{{/operationVendorExtensions.x-konfig-operation-can-have-single-parameter}}
{{/bodyParam}}
{{/hasParams}}

#### 🔄 Return

{{#returnType}}{{#returnTypeIsPrimitive}}**{{{returnType}}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}[**{{{returnBaseType}}}**](./lib/Model/{{returnBaseType}}.php){{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}void (empty response body){{/returnType}}

#### 🌐 Endpoint

`{{path}}` `{{httpMethod}}`

[🔙 **Back to Table of Contents**](#table-of-contents)

---

{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/omitApiDocumentation}}
{{^removeKonfigBranding}}
## Author
This PHP package is automatically generated by [Konfig](https://konfigthis.com)
{{/removeKonfigBranding}}