<?php

namespace {{invokerPackage}};

class RequestOptions
{
    {{#supportPhp7}}/** @var boolean */ {{/supportPhp7}}
    private {{^supportPhp7}}bool {{/supportPhp7}}$retryOAuth;

    public function __construct(bool $retryOAuth = true)
    {
        $this->retryOAuth = $retryOAuth;
    }

    public function shouldRetryOAuth(): bool
    {
        return $this->retryOAuth;
    }

    public function setRetryOAuth(bool $retryOAuth): RequestOptions
    {
        $this->retryOAuth = $retryOAuth;
        return $this;
    }
}
