package {{invokerPackage}};

import static org.junit.Assert.assertNotNull;

import org.junit.jupiter.api.Test;

public class SimpleTest {
    final String MOCK_SERVER_URL = "http://localhost:4010";

    @Test
    public void initClientTest() {
        {{> libraries/okhttp-gson/api_doc_setup}}
        assertNotNull(client);
    }
}
